.about {
    font-style: italic;
}

#list {
    list-style: square;
}

img {
    width: 100px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 0.9rem;
}

a:hover {
    background-color: yellow;
}

a:visited {
    color: darkgray;
}